# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Python
- R
- SQL
- Scala
- Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. Java
7. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Tensorflow

|Data Science Tools|
|------------------|
|Apache Spark|
|MongoDB|
|PostgreSQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
h=200/60
print(h,"hours")

3.3333333333333335 hours

## Author
Manish Janamanchi